.tabselected{width:100px;BACKGROUND-COLOR: #ffffff;border-left: 1px solid #c0c0c0;border-right: 1px solid #c0c0c0;border-top: 1px solid #c0c0c0;COLOR: #000000;FONT: 9pt 宋体}
.tabother    {font:9pt 宋体;width:100px;cursor:pointer}
.tabheader   {background:url("../images/toolbar-back2.jpg");cursor:pointer;height:38px;}
.tab_toolbar {background:url("../images/head1.jpg");font:9pt 宋体;height:45px}
.grid_field  {text-align:center;background:url("../images/head1.jpg");font:9pt 宋体;border-left: 1px solid #ffffff;border-right: 1px solid #dfdfdf; border-top: 1px solid #ffffff; border-bottom: 1px solid #dfdfdf;height:30px}
.grid_td{BACKGROUND-COLOR: #ffffff;BORDER-BOTTOM: #dedede 1px solid;BORDER-LEFT: #ffffff 1px solid;BORDER-RIGHT: #dedede 1px solid}
.grid_td_edit{font:9pt 宋体;width:99%;height:99%;border-left: 1px solid #dfdfdf;border-right: 1px solid #dfdfdf;border-top: 1px solid #dfdfdf;border-bottom: 1px solid #dfdfdf;BACKGROUND-COLOR: #FFFFFF;}
.PannelHead {background:url("../images/head2.jpg");font:9pt 宋体;text-align:center}
.PannelDown {background-color: #cccccc; border-left: 1px solid #999999;border-right: 1px solid #ffffff; border-top: 1px solid #999999; border-bottom: 1px solid #ffffff}
.PanneRightShadow{background:url("../images/rightshadow.jpg");width:4px}
.logout{background:url("../images/logout.gif");cursor:pointer;height:16px;width:16px;}
.tv_text{font:9pt 宋体;cursor:pointer;padding: 5px 10px;}
.tv_root{font:9pt 宋体;cursor:pointer;height:16px;cursor:pointer;padding: 5px 10px;}
.tv_root_li{font:9pt 宋体;cursor:pointer;height:20px;cursor:pointer;list-style-image:url("../images/inter16x16.jpg");}
.tv_usermange{font:9pt 宋体;cursor:pointer;height:16px;cursor:pointer;}
.tv_usermange_li{list-style-position:outside;font:9pt 宋体;cursor:pointer;height:20px;cursor:pointer;list-style-image:url("../images/persons16x16.jpg");}
.tv_dept{font:9pt 宋体;cursor:pointer;height:px;cursor:pointer;}
.tv_dept_li{list-style-position: outside;font:9pt 宋体;cursor:pointer;height:20px;cursor:pointer;list-style-image:url("/images/users.gif");}
.controls{cursor:pointer;font:9pt 宋体;}
.down{BORDER-LEFT: #999999 1px solid;BORDER-TOP: #999999 1px solid;BORDER-BOTTOM: #ffffff 1px solid;BORDER-RIGHT: #ffffff 1px solid;BACKGROUND-COLOR: #888888;}
.up  {BORDER-LEFT: #ffffff 1px solid;BORDER-TOP: #ffffff 1px solid;BORDER-BOTTOM: #999999 1px solid;BORDER-RIGHT: #999999 1px solid;BACKGROUND-COLOR: #cccccc;}
.ui_data{BORDER-LEFT: #c0c0c0 1px solid;BORDER-TOP: #c0c0c0 1px solid;BORDER-BOTTOM: #c0c0c0 1px solid;BORDER-RIGHT: #c0c0c0 1px solid;BACKGROUND-COLOR: #f0f0f0;}
.ui_data_first{background:url("../images/first_visible_false.jpg")}
.PannelButtonDown{cursor:pointer;background-color: #cccccc; border-left: 1px solid #999999;border-right: 1px solid #ffffff; border-top: 1px solid #999999; border-bottom: 1px solid #ffffff}
.PannelButtonUp{cursor:pointer;border-left: 1px solid #ffffff;border-right: 1px solid #999999; border-top: 1px solid #ffffff; border-bottom: 1px solid #999999}
.PannelButton{cursor:pointer;}
.face{transform: rotate(270deg); position: absolute; left: 80px; top: -80px; width: 320px; height: 480px}
.splitlineleft{
    display:inline-block;BORDER-LEFT: #ffffff 1px solid;BORDER-RIGHT: #999999 1px solid;width:2px;    
}
.splitlineright{
    display:inline-block;BORDER-LEFT: #ffffff 1px solid;BORDER-RIGHT: #999999 1px solid;width:2px;
}
.cellflat{border-left:#cccccc 1px solid;border-top:#cccccc 1px solid;border-bottom:#cccccc 1px solid;border-right:#cccccc 1px solid;}