* {
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
}

body {
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	padding: 0px;
}

img {
	border: none;
}

/*垂直居中*/
.a,
.b,
.c{
	box-sizing: border-box;
	width: 798px;
	height: 390px;
	border: 1px solid #000000;
	position: relative;
}

.a_son{
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	height:40px;
	line-height: 40px;
	position: relative;
	top: 50%;
	margin: -20px 0 0;
}

/*绝对居中*/
.b_son{	
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	width: 250px;
	height:40px;
	line-height: 40px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

/*位置撑满*/
.c_content{
	box-sizing: border-box;
	height: 100%;
	padding: 40px 0;
}

.c_content_scroll{
	height: 100%;
	overflow: auto;
}

.c_tit,
.c_bom{
	width: 100%;
	height: 40px;
	line-height: 40px;
	z-index: 2;
}

.c_tit{
	top: 0;
}

.c_bom{
	bottom: 0;
}